.footer{
    margin: 30px 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif; /* Matches your existing font */
    background: linear-gradient(264deg, #df8909 -5.09%, #b415ff 106.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.footer-top-left p{
    font-size: 17px;
    max-width: 400px;
}
.footer-icon {
    width: 60px;
    height: 60px;
    transition: transform 0.3s;
}

.footer-icon:hover {
    transform: scale(1.2);
}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: -50px;
    margin-right: 50px;
}
.footer-top-right a {
    display: inline-block;
}


.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.footer-bottom-right {
    font-size: 16px;
    color: #a0a0a0;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 10px;
}
.footer hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    width: 100%;
}


@media(max-width: 768px) {
    .footer {
        margin: 30px 20px; /* reduced side margin */
    }

    .footer-top {
        flex-direction: column;
        gap: 30px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        align-items: center; /* center items */
        text-align: center;
        gap: 10px; /* add space between time and copyright */
    }

    .footer-bottom-left,
    .footer-bottom-right {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .footer-top-right {
        justify-content: center;
        margin: 0;
    }
}
